.swiper-button-next {
    height: 50px;
    width: 50px;
    background-image: url(~/assets/img/swiper/next.png);
    background-repeat: no-repeat;
    background-size: cover;
    top:-97px;
    right: 0;
}

.swiper-button-prev {
    height: 50px;
    width: 50px;
    background-image: url(~/assets/img/swiper/prev.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -97px;
    left: auto;
    right: 130px;
}

.swiper-pagination {
    font-weight: 400;
    font-size: 18px;
    color: #797b86;
    position: absolute;
    top: -110px;
    z-index: 9;
    left: auto;
    right: 70px;
    width: auto;

}

.swiper-pagination-current {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #212121;
}

.swiper {
    overflow: visible;
    z-index: 10;
}

.swiper-wrapper {
    z-index: 10;
}